My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        -32
      ],
      "id": "c03d3cb1-0b0a-426c-91a0-b581f889c4bc",
      "name": "Chat Receiver",
      "webhookId": "ad5a7309-de93-44a4-87ef-00c7e2bda8f9",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "s4x5ib5P9AHBDQvv",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $(\"Chat Receiver\").item.json.messages[0].text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        32,
        -32
      ],
      "id": "41d4b605-f991-4604-b811-5661538000d9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        176
      ],
      "id": "45ef1d9e-d6ed-4d46-acf3-a8d0c5ab2677",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vHJKgsHkJPR5H5sD",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $(\"Chat Receiver\").item.json.messages[0].text.body }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        192
      ],
      "id": "db03307b-ad81-41e0-8f3d-55dabdc822ae",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "782361391620678",
        "recipientPhoneNumber": "+91 9600445395",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        384,
        -32
      ],
      "id": "815fd8c0-0e08-4ed8-87ba-85ddcea9fb0f",
      "name": "Send message",
      "webhookId": "bdbbe650-5ccf-4516-b946-64e22086803c",
      "credentials": {
        "whatsAppApi": {
          "id": "2RL50qICafaSWHMw",
          "name": "WhatsApp account 14"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": ".pdf",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "root",
            "mode": "list",
            "cachedResultName": "/ (Root folder)",
            "cachedResultUrl": "https://drive.google.com/drive"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        336,
        336
      ],
      "id": "4658ecb2-3368-4069-b5a1-07cac310d346",
      "name": "Search files and folders in Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "D8KhWg7uyeRysSx7",
          "name": "Google Drive account 8"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Receiver": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff8fe53d-55d5-41ef-b298-11d969d43a39",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d90a78a13f6b1f65955b87fc4e8823b968e1c2e27083419a97718feef07067a7"
  },
  "id": "yZcon0VitvZ5E9Fk",
  "tags": []
}